<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.nerdz.app.messenger"
    android:versionCode="12"
    android:versionName="0.7-beta" >

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="eu.nerdz.app.messenger.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name="eu.nerdz.app.messenger.NerdzMessenger"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eu.nerdz.app.messenger.activities.SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.nerdz.app.authenticator.LoginActivity"
            android:label="@string/login_login"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="eu.nerdz.app.messenger.activities.ConversationsListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/conversation_list"
            android:screenOrientation="nosensor"
            android:theme="@style/ReasonablySizeSpinnerStyle" />
        <activity
            android:name="eu.nerdz.app.messenger.activities.ConversationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_conversation"
            android:parentActivityName="eu.nerdz.app.messenger.activities.ConversationsListActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/ReasonablySizeSpinnerStyle"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ConversationsListActivity" />
        </activity>
        <activity
            android:name="eu.nerdz.app.messenger.activities.NewMessageActivity"
            android:label="@string/new_conversation"
            android:parentActivityName="eu.nerdz.app.messenger.activities.ConversationsListActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ConversationsListActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="eu.nerdz.app.messenger.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="eu.nerdz.app.authenticator.NerdzAuthenticatorService"
            android:exported="false"
            android:label="NerdzAuthenticatorService"
            android:process=":auth" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service android:name="eu.nerdz.app.messenger.GcmIntentService" />

        <activity
            android:name="eu.nerdz.app.messenger.activities.SettingsActivity"
            android:label="@string/settings" >
        </activity>
    </application>

</manifest>